<!DOCTYPE HTML>
<html class = "bg">
	<head>
		<link rel="stylesheet" href="../css/styles.css">
		<script src = '../scripts/script.js'></script>
	</head>
	<body>
		<span class = "fixed" style = "font-size: 6vw;">Hi! I'm [Name]</span>
		<span id = 'fake_pic'><img style = "float:right; padding:5%;" src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFHF6OdT6iHrD5q_vDMKyBGwUaMjC6wDL_6b9ALsblDg&s' width = "30%" height = "30%"></span>
		<br>
		<p style = "font-size: 3vw;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<br>
		<br>
		<span>Look at the bottom right</span>
		<p style = 'margin-bottom: 100%'></p>
		<span style = 'margin-left:75%'>Click on the picture</span>
	</body>
</html>